**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
backend/logs/
logs/
.git/
.github/
.vscode/
data/*.json
data/*.csv
scripts/dist/
*.gz
*.zip
*.tar.gz
